{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{% endblock title %} | Lucky Market</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% comment %} <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% endcomment %}
		<link rel="icon" href="{% static 'logo.png' %}">
	</head>
	<nav class="bg-white shadow-md">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="flex items-center justify-center h-16">
				<!-- Center Logo -->
				<div class="flex-shrink-0">
					<a href="/">
						<img src="{% static 'logo.png' %}" 
							 alt="Store Logo" 
							 class="h-10 lg:h-12 w-auto rounded-full">
					</a>
				</div>
			</div>
		</div>
	</nav>
	


	
	{% block body %}{% endblock body %}
</html>